Enunciado:
En este pair vamos a trabajar la apertura y exploración de archivos. Para finalmente guardar el archivo con un formato diferente.

1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [1]:
import pandas as pd
import json
import xml.etree.ElementTree as ET

2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [2]:
df_videogames = pd.read_csv("videogames.csv")

In [3]:
#Guardar un dataframe sin índice
df_videogames = pd.read_csv("videogames.csv", index_col = 0)

In [4]:
df_videogames.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
Unnamed: 0,,,,,,,,,,,,,,,,
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

3. Guardar el Dataframe en formato Excel y después crear un Dataframe con el Excel. ¿EL Dataframe es similar al que teníais antes?

In [5]:
df_videogames.to_excel("videogames.xlsx")

In [6]:
df_videogames_excel = pd.read_excel("videogames.xlsx", index_col = 0)

In [8]:
df_videogames_excel.head()

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
Unnamed: 0,,,,,,,,,,,,,,,,
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

4. Crear una carpeta llamada Files y guardar el mismo archivo en esa carpeta en formato csv

In [9]:
# Necesario para utilizar las funciones que ofrece el módulo os,
# las cuales nos permiten interactuar con el sistema operativo. 
# En este caso, lo usamos para crear un nuevo directorio y verificar si ya existe.
import os

In [10]:
# Crear la carpeta Files si no existe. 
if not os.path.exists("Files"): # Si la carpeta "Files1" no existe dentro de la carpeta en la que se está trabajando (modulo_2_pair_programming) .
    os.makedirs("Files") # crea esa carpeta "Files1" en la carpeta modulo_2_pair_programming.

In [11]:
# Supongamos que ya tienes tu DataFrame llamado df_videogames
# Guardar el DataFrame en formato .csv dentro de la carpeta Files
df_videogames.to_csv("Files/videogames1.csv", index=False)

5. Copia el archivo personal.json en la carpeta Files.

In [13]:
# Éste módulo proporciona una forma de copiar y mover archivos y directorios.
import shutil

In [16]:
# Ruta del archivo JSON original (la carpeta de origen)
ruta_origen_personal = "/Users/yai/Desktop/BOOTCAMP ADALAB/Modulo 2/ejercicios_modulo_2/modulo_2_leccion_04_lectura_ficheros/personal.json"

# Ruta de destino donde queremos copiar el archivo en nuestra carpeta de Visual Studio Code
ruta_destino_personal = "/Users/yai/Desktop/BOOTCAMP ADALAB/Modulo 2/pair_programming_modulo_2/modulo_2_pair_programming_lecturaficheros/Files"

# Copiar el archivo JSON a la nueva ubicación
shutil.copy(ruta_origen_personal, ruta_destino_personal)

'/Users/yai/Desktop/BOOTCAMP ADALAB/Modulo 2/pair_programming_modulo_2/modulo_2_pair_programming_lecturaficheros/Files/personal.json'

6. Abre el json y haz las modificaciones necesarias para poder abrirlo correctamente en Pandas.

7. Guardar el json modificado y abrirlo en Pandas para que tenga formato de tabla.

In [17]:
with open("Files/personal.json", "r") as fichero: # introducimos el nombre de nuestro archivo json y "r" porque lo vamos a leer(read)
    personal1 = json.load(fichero) # igualamos el archivo cargado a una variable para tenerlo almacenado

In [18]:
type(personal1)

dict

In [19]:
#Estructra del archivo --> diccionario 
# Key "workers" --> una lista de diccionarios con todos los trabajadores.
personal1

{'workers': [{'nombre': 'Ana',
   'edad': 32,
   'experiencia': 5,
   'nivel': 'Senior',
   'salario': 50000,
   'mascota': 'gatos'},
  {'nombre': 'Eva',
   'edad': 37,
   'experiencia': 2,
   'nivel': 'Mid',
   'salario': 35000},
  {'nombre': 'Marta',
   'edad': 27,
   'experiencia': 1,
   'nivel': 'Junior',
   'salario': 25000},
  {'nombre': 'Paula',
   'edad': 30,
   'experiencia': 3,
   'nivel': 'Mid',
   'salario': 35000}]}

In [20]:
len(personal1["workers"]) # #Longitud de "workers"

4

In [21]:
for person in personal1["workers"]: # #Accedemos a cada uno de los registros dentro de "workers"
    print(person)

{'nombre': 'Ana', 'edad': 32, 'experiencia': 5, 'nivel': 'Senior', 'salario': 50000, 'mascota': 'gatos'}
{'nombre': 'Eva', 'edad': 37, 'experiencia': 2, 'nivel': 'Mid', 'salario': 35000}
{'nombre': 'Marta', 'edad': 27, 'experiencia': 1, 'nivel': 'Junior', 'salario': 25000}
{'nombre': 'Paula', 'edad': 30, 'experiencia': 3, 'nivel': 'Mid', 'salario': 35000}

In [22]:
personal1["workers"][1] # Usamos los índices, así accedemos a cada uno de los registros.

{'nombre': 'Eva',
 'edad': 37,
 'experiencia': 2,
 'nivel': 'Mid',
 'salario': 35000}

In [23]:
personal1["workers"][1]["nombre"] # Accedemos a cada uno de los valores del diccionario a través de las keys

'Eva'

In [24]:
personal1["workers"][1]["nivel"]= "Senior"  # Modificamos el valor de las keys
personal1["workers"][1]["nivel"]

'Senior'

In [25]:
for i in range(len(personal1["workers"])):        # Usamos un bucle incluyendo condiciones. En este caso, si el nombre de alguna de las personas es igual a Ana, le añadimos la key "mascota".
    if personal1["workers"][i]["nombre"]=="Eva":
        personal1["workers"][i]["nivel"] = "Mid"

In [26]:
personal1["workers"][1]

{'nombre': 'Eva',
 'edad': 37,
 'experiencia': 2,
 'nivel': 'Mid',
 'salario': 35000}

In [27]:
with open("Files/personal_actualizado.json", "w") as fichero: #Guardamos fichero actualizado en un nuevo json. Usamos "w" ya que queremos escribir (write)
    json.dump(personal1, fichero)

In [28]:
df_personal = pd.read_json("Files/personal_actualizado.json")

In [29]:
df_personal.head()

                                             workers
0  {'nombre': 'Ana', 'edad': 32, 'experiencia': 5...
1  {'nombre': 'Eva', 'edad': 37, 'experiencia': 2...
2  {'nombre': 'Marta', 'edad': 27, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 30, 'experiencia':...

In [30]:
df_personal.to_csv("Files/personal_tabla.csv")

In [32]:
display("Mostramos las 5 primeras filas del DataFrame",df_personal.head())
print("-------------------------")
# para poder poner nombre a las columnas en Pandas tenemos varios métodos, pero uno de los más comunes es el método '.columns' 
# en este caso le estamos diciendo que las columnas de nuestro DataFrane queremos que correspondan con los valores de la listas de encabezados_index que creamos al inicio
df_personal.columns = encabezados_ibex_final


# Mostramos las dos primeras filas del DataFrame
# ahora vemos que las columnas ya no son números, si no los encabezamos que sacamos al inicio
display("Mostramos las 2 primeras filas del DataFrame", df_personal.head(2))
print("-------------------------")

# el número de filas y columnas del DataFrame son
print("El número de filas y columnas es:", df_personal.shape)

'Mostramos las 5 primeras filas del DataFrame'

                                             workers
0  {'nombre': 'Ana', 'edad': 32, 'experiencia': 5...
1  {'nombre': 'Eva', 'edad': 37, 'experiencia': 2...
2  {'nombre': 'Marta', 'edad': 27, 'experiencia':...
3  {'nombre': 'Paula', 'edad': 30, 'experiencia':...

-------------------------

NameError: name 'encabezados_ibex_final' is not defined